<ion-header>

  <ion-navbar>
    <ion-title>IPA Chart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-grid>

  <h4 text-center>Vowels</h4>
  <ion-row>
    <ion-col *ngFor="let item of vowels"
              text-center 
              >
        <button ion-button small class="ipa-item ipa-vowel" (click)="playAudio(item.id)">
          {{item.ipa}} 
        </button>
        <p>
          <span
              class="very-close ipa-split-letter"
              *ngFor="let letter of item.word.split(''); let i = index"
              [ngClass]="item.underlines.includes(i) ? 'underline' : ''" >
            {{letter}}
          </span>
        </p>
    </ion-col>
  </ion-row>


  <h4 text-center class="consonants-title">Consonants</h4>

  <ion-row>
    <ion-col *ngFor="let item of consonants"
              text-center >
        <button ion-button small class="ipa-item ipa-consonant" (click)="playAudio(item.id)">
          {{item.ipa}} 
        </button>
        <p>
          <span
              class="very-close ipa-split-letter"
              *ngFor="let letter of item.word.split(''); let i = index"
              [ngClass]="item.underlines.includes(i) ? 'underline' : ''" >
            {{letter}}
          </span>
        </p>
    </ion-col>
  </ion-row>






  </ion-grid>
    

</ion-content>
