<ion-header>

  <ion-navbar>
    <ion-title>Practice</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center>
    <h1 class="word-prompt">{{word}}</h1>
    <p *ngIf="showAnswer"
        class="answer">
        {{pronunciations}}
    </p>

  </div>


  <div id="attempt">{{attempt}}</div>

  <div id="ipa-keyboard">
    <button ion-button 
            small 
            text-center
            (click)="addToAttempt(item.ipa)"
            class="ipa-item ipa-keyboard-key"
            *ngFor="let item of alphabet">
      {{item.ipa}} 
    </button>
  </div>

  <ion-grid>
    <ion-row *ngIf="!showAnswer">
      <ion-col col-10>
        <button ion-button 
                block
                color="secondary"
                (click)="makeAttempt()">
          Submit
        </button>
      </ion-col>
      
      <ion-col col-2>
        <button ion-button
                icon-only 
                block
                color="danger"
                (click)="removeLastEntry()">
          <ion-icon name="backspace"></ion-icon>
        </button>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button
                block
                color="secondary"
                *ngIf="showAnswer"
                (click)="newAttempt()">
          New
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>
